In [13]:
import pandas as pd
import numpy as np

In [12]:
#Groupby
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 15, 25, 12, 18]}

df = pd.DataFrame(data)

# Grouping by the 'Category' column
grouped = df.groupby('Category')

# Calculate the mean value for each group
means = grouped.mean()

print(means)

              Value
Category
A         12.333333
B         21.000000

In [19]:
bpl = pd.read_csv("bpl.csv")
bpl.head(2)

,id,season,match_no,date,team_1,team_1_score,team_2,team_2_score,player_of_match,toss_winner,toss_decision,winner,venue,city,win_by_wickets,win_by_runs,result,umpire_1,umpire_2
0,0,2011/12,Final,Feb 29 2012,Barisal Burners,140/7,Dhaka Gladiators,144/2,Imran Nazir,Dhaka Gladiators,field first,Dhaka,"Shere Bangla National Stadium, Mirpur",Mirpur,8,0,8 wickets,David Orchard,Enamul Haque
1,30,2011/12,3rd,Feb 11 2012,Khulna Royal Bengals,175/5,Dhaka Gladiators,156/7,Andre Russell,Khulna Royal Bengals,bat first,Khulna,"Shere Bangla National Stadium, Mirpur",Mirpur,0,19,19 runs,Jeremy Lloyds,Sharfuddoula

In [20]:
bpl.shape

(311, 19)

In [21]:
bpl.columns

Index(['id', 'season', 'match_no', 'date', 'team_1', 'team_1_score', 'team_2',
       'team_2_score', 'player_of_match', 'toss_winner', 'toss_decision',
       'winner', 'venue', 'city', 'win_by_wickets', 'win_by_runs', 'result',
       'umpire_1', 'umpire_2'],
      dtype='object')

In [2]:
##What is the highest score achieved by each team across all matches?

In [37]:
team_1_scores = bpl[['team_1', 'team_1_score', 'date']]
team_2_scores = bpl[['team_2', 'team_2_score', 'date']]
all_scores = pd.concat([team_1_scores, team_2_scores])

highest_scores_by_team = all_scores.groupby('team_2')["team_2_score"].max()

highest_scores_by_team

team_2
Barisal Bulls              75/4
Barisal Burners           209/7
Chattogram Challengers    170/3
Chittagong Kings             97
Chittagong Vikings           76
Comilla Victorians         97/8
Cumilla Warriors          222/7
Dhaka Dynamites            96/4
Dhaka Gladiators           88/8
Dhaka Platoon               205
Duronto Rajshahi          193/1
Fortune Barishal             95
Khulna Royal Bengals         89
Khulna Tigers             207/2
Khulna Titans                87
Minister Group Dhaka      177/1
Rajshahi Kings            190/5
Rajshahi Royals            95/2
Rangpur Rangers              84
Rangpur Riders             94/7
Sylhet Royals                74
Sylhet Sixers              68/0
Sylhet Sunrisers          186/6
Sylhet Super Stars           79
Sylhet Thunder              161
Name: team_2_score, dtype: object

In [3]:
#What is the count of matches played in each city?

In [38]:
bpl["city"].unique()

array(['Mirpur', 'Chittagong', 'Stadium', 'Chattogram', 'Khulna'],
      dtype=object)

In [45]:
city_count = bpl.groupby("city").count()

In [46]:
city_count

,id,season,match_no,date,team_1,team_1_score,team_2,team_2_score,player_of_match,toss_winner,toss_decision,winner,venue,win_by_wickets,win_by_runs,result,umpire_1,umpire_2
city,,,,,,,,,,,,,,,,,,
Chattogram,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30
Chittagong,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47
Khulna,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
Mirpur,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204
Stadium,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22

In [4]:
#What is the total number of matches played in each season

In [47]:
bpl.columns

Index(['id', 'season', 'match_no', 'date', 'team_1', 'team_1_score', 'team_2',
       'team_2_score', 'player_of_match', 'toss_winner', 'toss_decision',
       'winner', 'venue', 'city', 'win_by_wickets', 'win_by_runs', 'result',
       'umpire_1', 'umpire_2'],
      dtype='object')

In [52]:
number_of_matches = bpl.groupby("season").size()

number_of_matches

season
2011/12    32
2012/13    46
2015/16    33
2016/17    46
2017/18    44
2018/19    46
2019/20    46
2021/22    18
dtype: int64

In [6]:
#What is the count of matches played by each team in the BPL?

In [53]:
bpl.columns

Index(['id', 'season', 'match_no', 'date', 'team_1', 'team_1_score', 'team_2',
       'team_2_score', 'player_of_match', 'toss_winner', 'toss_decision',
       'winner', 'venue', 'city', 'win_by_wickets', 'win_by_runs', 'result',
       'umpire_1', 'umpire_2'],
      dtype='object')

In [54]:
team = pd.concat([bpl['team_1'],bpl['team_2']])

In [55]:
team

0           Barisal Burners
1      Khulna Royal Bengals
2           Barisal Burners
3           Barisal Burners
4      Khulna Royal Bengals
               ...
306        Duronto Rajshahi
307         Barisal Burners
308        Duronto Rajshahi
309         Barisal Burners
310    Khulna Royal Bengals
Length: 622, dtype: object

In [62]:
each_team_played_match = team.groupby(team).size()

In [63]:
each_team_played_match

Barisal Bulls             24
Barisal Burners           24
Chattogram Challengers    22
Chittagong Kings          25
Chittagong Vikings        47
Comilla Victorians        57
Cumilla Warriors          12
Dhaka Dynamites           52
Dhaka Gladiators          26
Dhaka Platoon             13
Duronto Rajshahi          24
Fortune Barishal           6
Khulna Royal Bengals      22
Khulna Tigers             20
Khulna Titans             38
Minister Group Dhaka       6
Rajshahi Kings            39
Rajshahi Royals           15
Rangpur Rangers           12
Rangpur Riders            65
Sylhet Royals             23
Sylhet Sixers             23
Sylhet Sunrisers           5
Sylhet Super Stars        10
Sylhet Thunder            12
dtype: int64

In [7]:
#What is the total number of wins by each team in the BPL?

In [64]:
bpl.columns

Index(['id', 'season', 'match_no', 'date', 'team_1', 'team_1_score', 'team_2',
       'team_2_score', 'player_of_match', 'toss_winner', 'toss_decision',
       'winner', 'venue', 'city', 'win_by_wickets', 'win_by_runs', 'result',
       'umpire_1', 'umpire_2'],
      dtype='object')

In [65]:
team = pd.concat([bpl['team_1'],bpl['team_2']])

In [68]:
each_team_wins = team[bpl['winner'].notnull()].value_counts()

In [69]:
each_team_wins

Rangpur Riders            65
Comilla Victorians        57
Dhaka Dynamites           52
Chittagong Vikings        47
Rajshahi Kings            39
Khulna Titans             38
Dhaka Gladiators          26
Chittagong Kings          25
Barisal Burners           24
Barisal Bulls             24
Duronto Rajshahi          24
Sylhet Royals             23
Sylhet Sixers             23
Khulna Royal Bengals      22
Chattogram Challengers    22
Khulna Tigers             20
Rajshahi Royals           15
Dhaka Platoon             13
Sylhet Thunder            12
Cumilla Warriors          12
Rangpur Rangers           12
Sylhet Super Stars        10
Minister Group Dhaka       6
Fortune Barishal           6
Sylhet Sunrisers           5
Name: count, dtype: int64

In [8]:
#Which city has hosted the most matches, and which teams have won the most matches in that city?

In [70]:
bpl.columns

Index(['id', 'season', 'match_no', 'date', 'team_1', 'team_1_score', 'team_2',
       'team_2_score', 'player_of_match', 'toss_winner', 'toss_decision',
       'winner', 'venue', 'city', 'win_by_wickets', 'win_by_runs', 'result',
       'umpire_1', 'umpire_2'],
      dtype='object')

In [71]:
city_count_match = bpl["city"].value_counts()

In [72]:
city_count_match

city
Mirpur        204
Chittagong     47
Chattogram     30
Stadium        22
Khulna          8
Name: count, dtype: int64

In [73]:
max_match = city_count_match.idxmax()

In [74]:
max_match

'Mirpur'

In [76]:
city_matches = bpl[bpl['city'] == max_match]

In [80]:
city_matches

,id,season,match_no,date,team_1,team_1_score,team_2,team_2_score,player_of_match,toss_winner,toss_decision,winner,venue,city,win_by_wickets,win_by_runs,result,umpire_1,umpire_2
0,0,2011/12,Final,Feb 29 2012,Barisal Burners,140/7,Dhaka Gladiators,144/2,Imran Nazir,Dhaka Gladiators,field first,Dhaka,"Shere Bangla National Stadium, Mirpur",Mirpur,8,0,8 wickets,David Orchard,Enamul Haque
1,30,2011/12,3rd,Feb 11 2012,Khulna Royal Bengals,175/5,Dhaka Gladiators,156/7,Andre Russell,Khulna Royal Bengals,bat first,Khulna,"Shere Bangla National Stadium, Mirpur",Mirpur,0,19,19 runs,Jeremy Lloyds,Sharfuddoula
2,26,2011/12,7th,Feb 13 2012,Barisal Burners,125,Khulna Royal Bengals,131/3,Dwayne Smith,Khulna Royal Bengals,field first,Khulna,"Shere Bangla National Stadium, Mirpur",Mirpur,7,0,7 wickets,Enamul Haque,Jeremy Lloyds
3,29,2011/12,4th,Feb 11 2012,Barisal Burners,180/2,Duronto Rajshahi,158/9,Ahmed Shehzad,Barisal Burners,bat first,Barisal,"Shere Bangla National Stadium, Mirpur",Mirpur,0,22,22 runs,David Orchard,Gazi Sohel
4,28,2011/12,5th,Feb 12 2012,Khulna Royal Bengals,171/3,Chittagong Kings,174/4,Nasir Jamshed,Khulna Royal Bengals,bat first,Chittagong,"Shere Bangla National Stadium, Mirpur",Mirpur,6,0,6 wickets,David Orchard,Enamul Haque
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,6,2011/12,27th,Feb 26 2012,Khulna Royal Bengals,106,Duronto Rajshahi,110/2,Sean Ervine,Khulna Royal Bengals,bat first,Rajshahi,"Shere Bangla National Stadium, Mirpur",Mirpur,8,0,8 wickets,David Orchard,Nadir Shah
307,5,2011/12,28th,Feb 26 2012,Chittagong Kings,150/9,Barisal Burners,151/5,Brad Hodge,Barisal Burners,field first,Barisal,"Shere Bangla National Stadium, Mirpur",Mirpur,5,0,5 wickets,Gazi Sohel,Jeremy Lloyds
308,4,2011/12,29th,Feb 27 2012,Dhaka Gladiators,116,Duronto Rajshahi,120/7,Mohammad Sami,Dhaka Gladiators,bat first,Rajshahi,"Shere Bangla National Stadium, Mirpur",Mirpur,3,0,3 wickets,Mahfuzur Rahman,Nadir Shah
309,2,2011/12,1st,Feb 28 2012,Duronto Rajshahi,184/6,Barisal Burners,189/2,Ahmed Shehzad,Barisal Burners,field first,Barisal,"Shere Bangla National Stadium, Mirpur",Mirpur,8,0,8 wickets,David Orchard,Sharfuddoula
310,1,2011/12,2nd,Feb 28 2012,Dhaka Gladiators,191/4,Khulna Royal Bengals,182/7,Azhar Mahmood,Dhaka Gladiators,bat first,Dhaka,"Shere Bangla National Stadium, Mirpur",Mirpur,0,9,9 runs,Enamul Haque,Nadir Shah

In [81]:
winner_in_city = city_matches['winner'].value_counts()

In [82]:
winner_in_city

winner
Victorians     26
Dynamites      26
Riders         21
Dhaka          15
Royals         13
Kings          12
Chittagong     10
Titans         10
Bulls           9
Tigers          9
Vikings         9
Rajshahi        8
Barisal         8
Challengers     7
Platoon         4
Warriors        3
Sixers          3
Khulna          3
Rangers         3
Super           2
Barishal        1
Match           1
Sunrisers       1
Name: count, dtype: int64